[user]
    ; 这里配置个人邮箱
	; email = xxx@mail.com
	; name = xxx
	; mail = xxx@mail.com
[push]
	default = simple
[core]
	editor = nvim
	quotepath = false
	filemode = false
    pager = delta
[user "user"]
	email = xxx@mail.com
	name = xxx
[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = side-by-side line-numbers decorations
    syntax-theme = Coldark-Dark
    ; plus-style = syntax "#003800"
    ; minus-style = syntax "#3f0001"

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28

; [delta]
;     features = decorations
;     side-by-side = true

; [delta "interactive"]
;     keep-plus-minus-markers = false

; [delta "decorations"]
;     commit-decoration-style = blue ol
;     commit-style = raw
;     file-style = omit
;     hunk-header-decoration-style = blue box
;     hunk-header-file-style = red
;     hunk-header-line-number-style = "#067a00"
;     hunk-header-style = file line-number syntax
; [delta "my-delta-feature"] 
;     syntax-theme = GitHub
;     plus-style = bold syntax "#002800"
[gui]
	encoding = utf-8
[i18n "commit"]
	encoding = utf-8
[i18n]
	logoutputencoding = utf-8
[pull]
	rebase = false
